*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-journal
.DS_Store
.HA_VERSION
._.DS_STORE
.uuid
.storage
www
includes/proximity
includes/notify
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
lib
deps
secrets.yaml
known_devices.yaml
entity_registry.yaml
phue.conf
pyozw.sqlite
nest.conf
ip_bans.yaml
includes/automation/security
includes/automation/location
